# Core Framework & UI
streamlit

# LangChain & LangGraph Ecosystem
langgraph
langgraph-checkpoint-sqlite
langchain
langchain-core
langchain-community
langchain-openai
langchain-mcp-adapters
langchain_groq

# Vector Store, Embeddings & RAG
faiss-cpu
pypdf

# Tools & Networking
duckduckgo-search
requests
aiosqlite

# Configuration & Utilities
python-dotenv

#MCP
langchain_mcp_adapters